:root {
    --background1: #fff;
    --background2: #eee;
    --text-color: #111;
    --text-color-highlight: #6af;
    --text-color-disabled: #aaa;
    --border-color: #111;
}

* {
    font-family: Verdana, Arial, sans-serif;
    background-color: var(--background1);
    color: var(--text-color);
    border-color: var(--border-color) !important;
    border-collapse: collapse;
}

body {
    margin: 1px;
}

h1, h2, h3, h4, h5, h6, aside {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    text-align: center;
}