.flex-container {
    display: flex;
    flex-direction: row;
    height: 99vh;
    width: 99.5vw;
}

.options {
    border-bottom: 1px solid;
}

h1 {
    border-bottom: 1px solid;
}

aside {
    border: 1px solid;
    min-width: 300px;
}

.main-content {
    border: 1px solid;
    width: 100%;
}